/* ヘッダー */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
}

/* タイトル */
header h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
}

/* ナビゲーション */
nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

header img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* メインコンテンツ */
main {
  padding: 20px;
}

/* セクション */
section {
  margin-bottom: 20px;
}

/* フッター */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
